<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- website icon is from Icons8 -->
    <link rel="icon"
      href="https://img.icons8.com/fluent/64/000000/retweet.png"
      type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700;800;900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />
    <title>
      {{ title }}
    </title>
  </head>
  <body class="antialiased w-full h-full">
    {% block body %}

    {% endblock %}

    <!-- js for using emotes -->
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
    <script src="js/emote.js"></script>
  </body>
</html>
